<!DOCTYPE html>
<head>
<title>Todo App</title>
  <%- include('common_head.ejs') %>
</head>

<body>
<div class="todo-container">
<h2>To-Do List</h2>
<div class="todo">

<form action="/" method="POST" class="todo-header">
  <input type="text" name="title">
  <button type="submit"><span class="fas fa-plus"></span></button>
</form>

<ul class="todo-list">
  <% todoTasks.forEach(details => { %>
  <li class="todo-list-item">
  <div class="todo-list-item-name"><%= details.title %></div>
  <a href="/edit/<%= details._id %>" class="edit">
  <span class="fas fa-edit"></span>
  </a>
  <a href="/remove/<%= details._id %>" class="remove">
  <span class="fas fa-times"></span>
  </a>
  </li>
  <% }) %>
</ul>

</div>
</div>
</body>