<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <%- include('common_head.ejs') %>
  <title>Error</title>  
</head>

<body>
  <%- include('nav.ejs') %>
  <h2><%= error %></h2>
  <%- include('common_javascript.ejs') %>  
</body>

</html>