<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <%- include('common_head.ejs') %>
  <title>Document</title>  
</head>

<body>
  <%- include('nav.ejs') %>

    <h4 class="container mt-4"><strong>Write Page</strong></h4>

    <div class="container mt-3">
      <form action="/add" method="POST">
        <div class="form-group">
          <label>What to do today</label>
          <input type="text" class="form-control" name="title" />
        </div>
        <div class="form-group">
          <label>Date</label>
          <input type="text" class="form-control" name="date" />
        </div>
        <button type="submit" class="btn btn-outline-secondary">Submit</button>
      </form>
    </div>
  <%- include('common_javascript.ejs') %>
</body>

</html>